
#slogan
  width: 15%
  height: 5%
  color: darkgray
  opacity: .80
  font-family: 'Ubuntu',"Helvetica",serif
  margin:
    left: 250px
#head
  width: 950px
  height: 1000px
  #content_kebab
    width: 100%
    margin:
      left: 200px
      right: 200px
    img
      width: 20%
      height: 200px
      margin:
        left: 500px
        top: -10px
  #head_first
    width: 80%
    height: 10%
    margin:
      left: 20px
      right: 100px
      top: 10px
    p
      width: 100%
      height: 33%
      opacity: .70
      letter-spacing: -1px
      font:
        size: 38px
        family: 'Ubuntu',"Helvetica",serif
      margin:
        top: -35px
        bottom: 70px
        left: 390px
      #font_id
        color: darkred
      b
        color: darkgray
    i#fa_fire_div_second
      @extend #fa_fire_div
      top: -45px
      margin:
        top: -60px
    hr.line_div
      width: 566px
      height: 40px
      display: inline-block
      border: none
      opacity: .70
      color: lightgray
      background: url("../images/divider5.png") no-repeat scroll 0% 0% transparent
      margin:
        left: 500px
        top: -20px
    i#fa_fire_div
      margin-left: 745px
      opacity: .80
      position: relative
      color: #000000
      margin:
        top: -1px
      top: -56px
    h2
      width: 80%
      letter-spacing: -1px
      margin:
        left: 71%
        top: 15px
      font:
        size: 65px
        family: 'Ubuntu',"Helvetica",serif
        weight: 25px
#left_image
  margin:
    left: 1374px
    top: -2738px


#kebab_tools
  width: 90%
  text-align: center
  font-family: 'Ubuntu',"Helvetica",serif
  margin:
    right: 400px
    left: 190px
    top: -615px
  h3
    opacity: .80
    color: #000000
    font:
      size: 35px
      family: 'Ubuntu',"Helvetica",serif
    margin: 
      left: -220px
      top: 100px
  .kebab_gems_home
    width: 22%
    height: 100%
    float: left
    padding: -10px
    margin:
      left: 55px
      right: -10px
      top: 50px
    text-align: center
    ul
      margin:
        left: 72px
      li
        text-decoration: none
        display: inline
        float: left
        a
          text-decoration: none
          display: inline
          color: #000000
          float: left
          margin:
            left: 5px
          &:hover
            opacity: .70

    #paragraf
      margin:
        top: -10px
        left: 20px

      font-size: 16px
    p
      font-size: 22px
      margin:
        top: 10px
        left: 5px

    .kebab_gems
      width: 100px
      height: 100px
      margin:
        left: 100px
        top: -95px



  #hierapolis
    margin-left: 400px


#footer_div
  width: 104%
  height: 290px
  background-color: #000000
  font-family: 'Ubuntu',"Helvetica"serif
  margin:
    top: 1880px
    left: -8px
    right: -8px
  p
    color: white



  .footer_content
    width: 10%
    height: 80%
    float: left
    margin:
      left: 150px
      right: 50px
      top: 50px
    #copy_div
      font-size: 12px
      margin:
        top: 120px
      color: orangered
    i
      color: white
      margin-left: -30px
    #fa_fa
      margin-left: -18px
    p
      a
        color: white
        font:
          size: 16.5px
        margin:
          top: 10px
          left: 15px
    a
      text-decoration: none
      opacity: .90
      color: white
      margin:
        left: 18px
        top: -80px
      &:hover
        color: orangered
