body,head
  position: absolute
#slogan
  width: 150px
  height: 50px
  color: darkgray
  opacity: .80
  font-family: 'Ubuntu',"Helvetica",serif
  margin:
    left: 250px
#head
  width: 950px
  height: 1000px
  #content_kebab
    width: 100%
    margin:
      left: 200px
      right: 200px
    img
      width: 20%
      height: 20%
      margin:
        left: 500px
        top: 5px
  #head_first
    width: 80%
    height: 10%
    margin:
      left: 20px
      right: 100px
      top: 10px
    p
      width: 100%
      height: 33%
      opacity: .70
      font:
        size: 38px
        family: 'Ubuntu',"Helvetica",serif
      margin:
        top: -35px
        bottom: 70px
        left: 390px
      #font_id
        color: darkred
      b
        color: darkgray
    i#fa_fire_div_second
      @extend #fa_fire_div
      top: -45px
      margin:
        top: -60px
    hr.line_div
      width: 566px
      height: 40px
      display: inline-block
      border: none
      opacity: .70
      color: lightgray
      background: url("../img/divider5.png") no-repeat scroll 0% 0% transparent
      margin:
        left: 500px
        top: -30px
    i#fa_fire_div
      margin-left: 745px
      opacity: .80
      position: relative
      color: #000000
      margin:
        top: -1px
      top: -56px
    h2
      width: 80%
      margin:
        left: 77%
        top: 15px
      font:
        size: 53px
        family: 'Ubuntu',"Helvetica",serif
        weight: 25px
#left_image
  margin:
    left: 1374px
    top: -2328px


#kebab_tools
  width: 90%
  text-align: center
  font-family: 'Ubuntu',"Helvetica",serif
  margin:
    right: 400px
    left: 190px
    top: -615px
  h3
    opacity: .80
    color: #000000
    font:
      size: 35px
      family: 'Ubuntu',"Helvetica",serif
    margin: 
      left: -220px
      top: 40px
  .kebab_gems_home
    width: 22%
    height: 100%
    float: left
    padding: -10px
    margin:
      left: 55px
      right: -10px
      top: 18px
    text-align: center
    ul
      margin:
        left: 100px
      li
        text-decoration: none
        display: inline
        float: left
        a
          text-decoration: none
          display: inline
          color: #000000
          float: left
          margin:
            left: 5px
          &:hover
            opacity: .70

    #paragraf
      margin:
        top: -10px
        left: 100px

      font-size: 16px
    p
      font-size: 22px
      margin:
        top: 110px
        left: 95px


    .kebab_gems
      background-color: darkred
      color: white
      opacity: .80
      width: 32%
      height: 90px
      border-radius: 100px
      float: left
      margin:
        left: 150px
        right: 150px
        top: 10px
      i
        margin-top: 22px
  #hierapolis
    margin-left: 400px


#footer_div
  width: 104%
  height: 170px
  background-color: #000000
  font-family: 'Ubuntu',"Helvetica"serif
  margin:
    top: 1630px
    left: -8px
    right: -8px
  p
    color: white
  .footer_content
    width: 10%
    height: 100%
    float: left
    margin:
      left: 170px
      right: 30px
    i
      color: white
      margin-left: -30px
    #fa_fa
      margin-left: -18px
    p
      a
        color: white
        font:
          size: 20px
        margin-left: 15px
    a
      text-decoration: none
      opacity: .90
      color: white
      margin:
        left: 20px
        top: 450px
      &:hover
        color: orangered
