
#head
  width: 1300px
  height: 1000px
  #head_first
    width: 700px
    height: 100px
    margin:
      left: 20px
      right: 100px
      top: 10px
  #content_kebab
    width: 1300px
    margin:
      left: 200px
      right: 200px
    p
      width: 500px
      height: 300px
      font:
        size: 30px
        family: "DejaVu Sans Mono"
      margin:
        top: 120px
        right: 270px
      float: right
#kebab_tools
  width: 1510px
  height: 1000px
  text-align: center
  margin:
    left: 100px
    top: -500px
  h3
    opacity: .80
    color: #000000
    font:
      size: 35px
      family: "DejaVu Sans Mono"
    margin: 
      left: -250px
      top: 20px
  .kebab_gems_home
    width: 400px
    height: 400px
    float: left
    padding: -10px
    margin:
      left: 10px
      right: 10px
      top: 20px
    text-align: center
    p
      margin:
        top: 170px
        left: 0px
    a
      text-decoration: none
      display: inline
      color: #000000
      margin:
        left: 10px
      &:hover
        opacity: .70
    .kebab_gems
      background-color: darkred
      opacity: .80
      width: 150px
      height: 150px
      border-radius: 125px
      float: left
      margin:
        left: 130px
        right: 20px
        top: 10px
#footer_div
  width: 1510px
  height: 500px
  background-color: #000000
  opacity: .80px
  border-radius: 10px
  margin:
    top: 1200px
  .footer_content
    width: 250px
    height: 500px
    float: left
    margin:
      left: 70px
      right: 50px
    a
      text-decoration: none
      display: inline
      color: white
      margin:
        left: 100px
        top: 450px
