<header id="head" xmlns="http://www.w3.org/1999/html">
 <div id="head_first">
 <i>Simple is perfect</i>
   <h2 style="margin-left: 250px;margin-top: -5px;font-size: 35px">Kebab WebOS</h2>
 </div>  <hr style="width: 1000px;margin-left: 200px;margin-right: 200px;opacity: .70;margin-top: -40px">
  <div id="content_kebab">
    <img src="img/logo.jpg">
    <p>Kebab project
      <b style="color: darkgrey">agile toolbax</b> for<b style="color: darkgrey"> web developers</b>.</p>
  </div>
</header>
<div id="kebab_tools">
  <h3>Tools - gems</h3>
  <div class="kebab_gems_home">
        <div class="kebab_gems"> <i class="fa fa-asterisk fa-5x"style="margin-top: 35px"></i>
        </div>
    <p>Kebapress</p>
    <p style="margin-top: -10px">Lorem ipsum dolor sit amet,
      consectetur adipisicing elit,
      sed do eiusmod tempor incididunt ut
      labore et dolore magna aliqua.</p>
    <a href="https://github.com/kebab-project/kebapress"><i class="fa fa-github fa-2x"></i></a>
    <a href="https://github.com/kebab-project/kebapress/issues"><i class="fa fa-code-fork fa-2x"></i></a>
    <a href="http://community.kebab-project.org/categories/kebapress"><i class="fa fa-comment fa-2x"></i></a>
    </div>
    <div class="kebab_gems_home">
      <div class="kebab_gems"> <i class="fa fa-bullseye fa-5x"style="margin-top: 35px"></i>
      </div>
      <p>Spe</p>
      <p style="margin-top: -10px">Lorem ipsum dolor sit amet,
        consectetur adipisicing elit,
        sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua.</p>
      <a href="https://github.com/kebab-project/spe"><i class="fa fa-github fa-2x"></i></a>
      <a href="https://github.com/kebab-project/spe/issues"><i class="fa fa-code-fork fa-2x"></i></a>
      <a href="http://community.kebab-project.org/categories/spe"><i class="fa fa-comment fa-2x"></i></a>
    </div>
    <div class="kebab_gems_home">
        <div class="kebab_gems"><i class="fa fa-bolt fa-5x" style="margin-top: 35px"></i></div>
      <p>Model-to-locale</p>
      <p style="margin-top: -10px">Lorem ipsum dolor sit amet,
        consectetur adipisicing elit,
        sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua.</p>
      <a href="https://github.com/kebab-project/model_to_locale"><i class="fa fa-github fa-2x"></i></a>
      <a href="https://github.com/kebab-project/model_to_locale/issues"><i class="fa fa-code-fork fa-2x"></i></a>
      <a href="http://community.kebab-project.org/categories/model-to-locale"><i class="fa fa-comment fa-2x"></i></a>
    </div>
    <div class="kebab_gems_home">
        <div class="kebab_gems"><i class="fa fa-caret-square-o-down fa-5x"style="margin-top: 35px"></i></div>
      <p>kebab-remote-api</p>
      <p style="margin-top: -10px">Lorem ipsum dolor sit amet,
        consectetur adipisicing elit,
        sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua.</p>
      <a href="https://github.com/kebab-project/kebab-remote-api"><i class="fa fa-github fa-2x"></i></a>
      <a href="https://github.com/kebab-project/kebab-remote-api/issues"><i class="fa fa-code-fork fa-2x"></i></a>
      <a href="http://community.kebab-project.org/categories/kebab-remote-api"><i class="fa fa-comment fa-2x"></i></a>
     </div>
    <div class="kebab_gems_home">
        <div class="kebab_gems"><i class="fa fa-certificate fa-5x"style="margin-top: 35px"></i></div>
      <p>cybele</p>
      <p style="margin-top: -10px">Lorem ipsum dolor sit amet,
        consectetur adipisicing elit,
        sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua.</p>
      <a href="https://github.com/kebab-project/cybele"><i class="fa fa-github fa-2x"></i></a>
      <a href="https://github.com/kebab-project/cybele/issues"><i class="fa fa-code-fork fa-2x"></i></a>
      <a href="http://community.kebab-project.org/categories/cybele"><i class="fa fa-comment fa-2x"></i></a>

    </div>
    <div class="kebab_gems_home">
        <div class="kebab_gems"><i class="fa fa-cog fa-5x"style="margin-top: 35px"></i></div>
      <p>recipes-matic</p>
      <p style="margin-top: -10px">Lorem ipsum dolor sit amet,
        consectetur adipisicing elit,
        sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua.</p>
      <a href="https://github.com/kebab-project/recipes_matic"><i class="fa fa-github fa-2x"></i></a>
      <a href="https://github.com/kebab-project/recipes_matic/issues"><i class="fa fa-code-fork fa-2x"></i></a>
      <a href="http://community.kebab-project.org/categories/recipes-matic"><i class="fa fa-comment fa-2x"></i></a>
    </div>
    <div class="kebab_gems_home">
        <div class="kebab_gems"><i class="fa fa-crop fa-5x"style="margin-top: 35px"></i></div>
      <p>katip</p>
      <p style="margin-top: -10px">Lorem ipsum dolor sit amet,
        consectetur adipisicing elit,
        sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua.</p>
      <a href="https://github.com/kebab-project/katip"><i class="fa fa-github fa-2x"></i></a>
      <a href="https://github.com/kebab-project/katip/issues"><i class="fa fa-code-fork fa-2x"></i></a>
      <a href="http://community.kebab-project.org/categories/katip"><i class="fa fa-comment fa-2x"></i></a>
      </div>
    <div class="kebab_gems_home">
        <div class="kebab_gems"><i class="fa fa-ellipsis-h fa-5x" style="margin-top: 35px"></i></div>
      <p>kangal</p>
      <p style="margin-top: -10px">Lorem ipsum dolor sit amet,
        consectetur adipisicing elit,
        sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua.</p>
      <a href="https://github.com/kebab-project/kangal"><i class="fa fa-github fa-2x"></i></a>
      <a href="https://github.com/kebab-project/kangal/issues"><i class="fa fa-code-fork fa-2x"></i></a>
      <a href="http://community.kebab-project.org/categories/kangal"><i class="fa fa-comment fa-2x"></i></a>
    </div>
    <div class="kebab_gems_home">
        <div class="kebab_gems"><i class="fa fa-flask fa-5x"style="margin-top: 35px"></i></div>
      <p>l12n</p>
      <p style="margin-top: -10px">Lorem ipsum dolor sit amet,
        consectetur adipisicing elit,
        sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua.</p>
      <a href="https://github.com/kebab-project/l12n"><i class="fa fa-github fa-2x"></i></a>
      <a href="https://github.com/kebab-project/l12n/issues"><i class="fa fa-code-fork fa-2x"></i></a>
      <a href="http://community.kebab-project.org/categories/i12n"><i class="fa fa-comment fa-2x"></i></a>
    </div>
    <div class="kebab_gems_home">
        <div class="kebab_gems"><i class="fa fa-globe fa-5x"style="margin-top: 35px"></i></div>
      <p>hierapolis-rails</p>
      <p style="margin-top: -10px">Lorem ipsum dolor sit amet,
        consectetur adipisicing elit,
        sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua.</p>
      <a href="https://github.com/kebab-project/hierapolis-rails"><i class="fa fa-github fa-2x"></i></a>
      <a href="https://github.com/kebab-project/hierapolis-rails/issues"><i class="fa fa-code-fork fa-2x"></i></a>
      <a href="http://community.kebab-project.org/categories/hierapolis-rails"><i class="fa fa-comment fa-2x"></i></a>
    </div>
    <div class="kebab_gems_home">
        <div class="kebab_gems"><i class="fa fa-magic fa-5x"style="margin-top: 35px"></i></div>
      <p>blankable</p>
      <p style="margin-top: -10px">Lorem ipsum dolor sit amet,
        consectetur adipisicing elit,
        sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua.</p>
      <a href="https://github.com/kebab-project/blankable"><i class="fa fa-github fa-2x"></i></a>
      <a href="https://github.com/kebab-project/blankable/issues"><i class="fa fa-code-fork fa-2x"></i></a>
      <a href="http://community.kebab-project.org/categories/blankable"><i class="fa fa-comment fa-2x"></i></a>
    </div>
    <div class="kebab_gems_home">
        <div class="kebab_gems"><i class="fa fa-rocket fa-5x"style="margin-top: 35px"></i></div>
      <p>builder</p>
      <p style="margin-top: -10px">Lorem ipsum dolor sit amet,
        consectetur adipisicing elit,
        sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua.</p>
      <a href="https://github.com/kebab-project/builder"><i class="fa fa-github fa-2x"></i></a>
      <a href="https://github.com/kebab-project/builder/issues"><i class="fa fa-code-fork fa-2x"></i></a>
      <a href="http://community.kebab-project.org/categories/builder"><i class="fa fa-comment fa-2x"></i></a>
    </div>
    <div class="kebab_gems_home">
        <div class="kebab_gems"><i class="fa fa-puzzle-piece fa-5x"style="margin-top: 35px"></i></div>
      <p>hierapolis</p>
      <p style="margin-top: -10px">Lorem ipsum dolor sit amet,
        consectetur adipisicing elit,
        sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua.</p>
      <a href="https://github.com/kebab-project/hierapolis"><i class="fa fa-github fa-2x"></i></a>
      <a href="https://github.com/kebab-project/hierapolis/issues"><i class="fa fa-code-fork fa-2x"></i></a>
      <a href="http://community.kebab-project.org/categories/hierapolis"><i class="fa fa-comment fa-2x"></i></a>
    </div>

</div>
<div id="footer_div">
  <div class="footer_content">
    <p><a href="#"><i class="fa fa-comment fa-2x"style="color: white;margin-left: -30px"></i> Support</a></p>
    <a href="http://community.kebab-project.org/">  Forums</a><br/><br/>
    <a href="https://github.com/kebab-project/">  Github-project</a><br/><br/>

  </div>
  <div class="footer_content">
    <p><a href="#"><i class="fa fa-sort fa-2x"style="color: white;margin-left: -30px"></i> Enterprise</a></p>

  </div>
  <div class="footer_content">
    <p><a href="#"><i class="fa fa-comments-o fa-2x"style="color: white;margin-left: -30px"></i> Community</a></p>
    <a href="http://community.kebab-project.org/">  Forums</a><br/><br/>

  </div>
  <div class="footer_content">
    <p><a href="#"><i class="fa fa-arrow-circle-right fa-2x"style="color: white;margin-left: -30px"></i> Social Networks</a></p>
    <a href="#"><i class="fa fa-facebook-square fa-2x"style="color: white"></i></a>
    <a href="#"><i class="fa fa-twitter-square fa-2x"style="color: white;margin-left: -20px"></i> </a>
    <a href="#"><i class="fa fa-google-plus-square fa-2x"style="color: white;margin-left: -20px"></i></a>
  </div>
  <p style="color: white;margin-left: 450px;opacity: .70;"> &copy;Copyright by lab2023 </p>


</div>