<header id="head" xmlns="http://www.w3.org/1999/html">
 <div id="head_first">
 <i>Simple is perfect</i>
 </div>  <hr style="width: 1000px;margin-left: 200px;margin-right: 200px;opacity: .70;margin-top: -40px">
  <div id="content_kebab">
    <img src="img/logo.jpg">
    <p>Kebab is
      <b style="color: darkred">web operating system </b> that allowed you develop<b style="color: darkred"> cloud</b> and<b style="color: darkred;"> saas </b> based web applications.</p>
  </div>
</header>
<div id="kebab_tools">
  <h3>Tools - gems</h3>
  <div class="kebab_gems_home">
        <div class="kebab_gems">
        </div>
    <p>Kebapress</p>
    <a href="https://github.com/kebab-project/kebapress"><i class="fa fa-github"></i></a><br/><br/>
    <a href="https://github.com/kebab-project/kebapress/issues">github.com/kebapress-issues</a><br/><br/>
    <a href="http://community.kebab-project.org/categories/kebapress">community.kebab-project.org/kebapress</a>
    </div>
    <div class="kebab_gems_home">
      <div class="kebab_gems">
       </div>
      <p>Spe</p>
      <a href="https://github.com/kebab-project/spe">github.com/spe</a><br/><br/>
      <a href="https://github.com/kebab-project/spe/issues">github.com/spe-issue</a><br/><br/>
      <a href="http://community.kebab-project.org/categories/spe">community.kebab-project.org/spe</a>
    </div>
    <div class="kebab_gems_home">
        <div class="kebab_gems"></div>
      <p>Model-to-locale</p>
      <a href="https://github.com/kebab-project/model_to_locale">github.com/model-to-locale</a><br/><br/>
      <a href="https://github.com/kebab-project/model_to_locale/issues">github.com/model-to-locale-issue</a></br></br>
      <a href="http://community.kebab-project.org/categories/model-to-locale">community.kebab-project.org/model-to-locale</a>
    </div>
    <div class="kebab_gems_home">
        <div class="kebab_gems"></div>
      <p>kebab-remote-api</p>
      <a href="https://github.com/kebab-project/kebab-remote-api">github.com/kebab-remote-api</a><br/><br/>
      <a href="https://github.com/kebab-project/kebab-remote-api/issues">github.com/kebab-remote-api-issues</a><br/><br/>
      <a href="http://community.kebab-project.org/categories/kebab-remote-api">community.kebab-project.org/kebab-remote.api</a>
     </div>
    <div class="kebab_gems_home">
        <div class="kebab_gems"></div>
      <p>cybele</p>
      <a href="https://github.com/kebab-project/cybele">github.com/cybele</a><br/><br/>
      <a href="https://github.com/kebab-project/cybele/issues">github.com/cybele-issues</a><br/><br/>
      <a href="http://community.kebab-project.org/categories/cybele">community.kebab-project.org/cybele</a><br/><br/>

    </div>
    <div class="kebab_gems_home">
        <div class="kebab_gems"></div>
      <p>recipes-matic</p>
      <a href="https://github.com/kebab-project/recipes_matic">github.com/recipes-matic</a><br/><br/>
      <a href="https://github.com/kebab-project/recipes_matic/issues">github.com/recipes-matic-issue</a><br/><br/>
      <a href="http://community.kebab-project.org/categories/recipes-matic">community.kebab-project.org/recipes-matic</a>
    </div>
    <div class="kebab_gems_home">
        <div class="kebab_gems"></div>
      <p>katip</p>
      <a href="https://github.com/kebab-project/katip">github.com/katip</a><br/><br/>
      <a href="https://github.com/kebab-project/katip/issues">github.com/katip-issues</a><br/><br/>
      <a href="http://community.kebab-project.org/categories/katip">community.kebab-project.org/katip</a>
      </div>
    <div class="kebab_gems_home">
        <div class="kebab_gems"></div>
      <p>kangal</p>
      <a href="https://github.com/kebab-project/kangal">github.com/kangal</a><br/><br/>
      <a href="https://github.com/kebab-project/kangal/issues">github.com/kangal-issues</a><br/><br/>
      <a href="http://community.kebab-project.org/categories/kangal">community.kebab-project.org/kangal</a>
    </div>
    <div class="kebab_gems_home">
        <div class="kebab_gems"></div>
      <p>l12n</p>
      <a href="https://github.com/kebab-project/l12n">github.com/l12n</a><br/><br/>
      <a href="https://github.com/kebab-project/l12n/issues">github.com/l12n-issues</a><br/><br/>
      <a href="http://community.kebab-project.org/categories/i12n">community.kebab-project.org/l12n</a>
    </div>
    <div class="kebab_gems_home">
        <div class="kebab_gems"></div>
      <p>hierapolis-rails</p>
      <a href="https://github.com/kebab-project/hierapolis-rails">github.com/hierapolis-rails</a><br/><br/>
      <a href="https://github.com/kebab-project/hierapolis-rails/issues">github.com/hierapolis-rails-issue</a><br/><br/>
      <a href="http://community.kebab-project.org/categories/hierapolis-rails">community.kebab-project.org/hierapolis-rails</a>
    </div>
    <div class="kebab_gems_home">
        <div class="kebab_gems"></div>
      <p>blankable</p>
      <a href="https://github.com/kebab-project/blankable">github.com/blankable</a><br/><br/>
      <a href="https://github.com/kebab-project/blankable/issues">github.com/blankable-issues</a><br/><br/>
      <a href="http://community.kebab-project.org/categories/blankable">community.kebab-project.org/blankable</a>
    </div>
    <div class="kebab_gems_home">
        <div class="kebab_gems"></div>
      <p>builder</p>
      <a href="https://github.com/kebab-project/builder">github.com/builder</a><br/><br/>
      <a href="https://github.com/kebab-project/builder/issues">github.com/builder-issues</a><br/><br/>
      <a href="http://community.kebab-project.org/categories/builder">community.kebab-project.org/builder</a>
    </div>
    <div class="kebab_gems_home">
        <div class="kebab_gems"></div>
      <p>hierapolis</p>
      <a href="https://github.com/kebab-project/hierapolis">github.com/hierapolis</a><br/><br/>
      <a href="https://github.com/kebab-project/hierapolis/issues">github.com/hierapolis-issues</a><br/><br/>
      <a href="http://community.kebab-project.org/categories/hierapolis">community.kebab-project.org/hierapolis</a>
    </div>

</div>
<div id="footer_div">
  <div class="footer_content">
    <p><a href="#">Support</a></p>
    <a href="http://community.kebab-project.org/">Forums</a><br/><br/>
    <a href="https://github.com/kebab-project/">Github-project</a><br/><br/>

  </div>
  <div class="footer_content">

  </div>
  <div class="footer_content">

  </div>
  <div class="footer_content">

  </div>


</div>